<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_1.xsd"
             version="3.1">
    <persistence-unit name="fiap-tech-challenge">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>br.com.fiap.techchallenge.fiapfood.core.domain.entities.ClienteEntity</class>  <properties>
        <property name="jakarta.persistence.jdbc.driver" value="org.mariadb.jdbc.Driver"/>
        <property name="jakarta.persistence.jdbc.url" value="jdbc:mariadb://${MARIADB_DATABASE_ENDPOINT}/${MARIADB_DATABASE}"/>"/>
        <property name="jakarta.persistence.jdbc.user" value="${MARIADB_USER}"/>
        <property name="jakarta.persistence.jdbc.password" value="${MARIADB_PASSWORD}"/>
        <property name="hibernate.dialect" value="org.hibernate.dialect.MariaDBDialect"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/>  </properties>
    </persistence-unit>
</persistence>